In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../data/profiling_data.csv")

In [3]:
df.head()

,K4 Cluster 1,K4 Cluster 2,K4 Cluster 3,K4 Cluster 4,K5 Cluster 1,K5 Cluster 2,K5 Cluster 3,K5 Cluster 4,K5 Cluster 5,Overall
0,4080.000000,1134.000000,254.000000,3481.000000,1073.000000,3248.000000,780.000000,30.000000,3818.000000,8949.000000
1,0.455917,0.126718,0.028383,0.388982,0.119902,0.362946,0.087161,0.003352,0.426640,1.000000
2,0.180637,0.103175,0.035433,0.401321,0.105312,0.497537,0.023077,0.066667,0.133840,0.252542
3,0.375490,0.448854,0.000000,0.000000,0.449208,0.000000,0.000000,0.000000,0.408329,0.228070
4,0.327451,0.211640,0.098425,0.078426,0.208760,0.069273,0.094872,0.100000,0.353064,0.209409